<!--Criando um formulário na página-->
<form action="">
    <!--Imagem-->
    <img src="assets/perfil.png" alt="foto de perfil">

    <!--Campos para preencher-->
    <input type="text" placeholder="Nome" class="form-control" name="nome"  [(ngModel)]="cliente.nome">
    <input type="text" placeholder="Idade" class="form-control" name="idade"   [(ngModel)]="cliente.idade">
    <input type="text" placeholder="Cidade" class="form-control" name="cidade"   [(ngModel)]="cliente.cidade">

    <!--Botões de cores diferentes
    *ngIf="btnCadastro"  visualizar o botão na página, caso ele esteja true.
     No principal.component.ts   -->
    <input type="button" value="Cadastrar" *ngIf="btnCadastro"  class="btn btn-primary">
    
    <!--*ngIf="!btnCadastro"   sumindo os botões da página-->
    <input type="button" value="Alterar" *ngIf="!btnCadastro" class="btn btn-warning">
    <input type="button" value="Remover" *ngIf="!btnCadastro" class="btn btn-danger">
    <input type="button" value="Cancelar" *ngIf="!btnCadastro" class="btn btn-secondary">
</form>

<h1>{{cliente}}</h1>


<!--Criar uma tabela-->
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Cidade</th>
            <th>Selecionar</th>
        </tr>
    </thead>

    <!--Visualizar os registros criados no Back-end, na página HTML-->
    <tbody>   <!--c = objeto de linhas-->
        <tr *ngFor="let c of clientes">  <!--td*5  (esquema de criação)-->
            <td></td>
            <td>{{c.nome}}</td>
            <td>{{c.idade}}</td>
            <td>{{c.cidade}}</td>
            <td><button class="btn btn-success">Selecionar</button></td>
        </tr>
    </tbody>

</table>